@import "tailwindcss";
@import "@fontsource/lexend/400.css";
@import "@fontsource/lexend/600.css";

@theme {
  --font-sans: "Lexend", sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-surface *:focus {
  outline: none;
}

.recharts-wrapper:focus-visible,
.recharts-surface:focus-visible,
.recharts-surface *:focus-visible {
  outline: none;
}